
NODE_ENV=development
PORT=3001
JWT_SECRET=secret--key-for-token
API_BASE_URL=http://localhost:3001/api
JWT_EXPIRES_IN=24h
POSTGRES_USER=root
POSTGRES_PASSWORD=123456
POSTGRES_PORT=51214
POSTGRES_HOST=localhost
POSTGRES_DB=nest_test_postgre_db

# This was inserted by `prisma init`:
# Environment variables declared in this file are NOT automatically loaded by Prisma.
# Please add `import "dotenv/config";` to your `prisma.config.ts` file, or use the Prisma CLI with Bun
# to load environment variables from .env files: https://pris.ly/prisma-config-env-vars.

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

# The following `prisma+postgres` URL is similar to the URL produced by running a local Prisma Postgres
# server with the `prisma dev` CLI command, when not choosing any non-default ports or settings. The API key, unlike the
# one found in a remote Prisma Postgres URL, does not contain any sensitive information.


# Старый вариант (сломанный для Prisma CLI):
# для исправления установили dotenv и dotenv-expand, чтобы Prisma могла корректно подставлять переменные окружения внутри DATABASE_URL
DATABASE_URL=postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${POSTGRES_HOST}:${POSTGRES_PORT}/${POSTGRES_DB}?schema=public
# Почему заменяли: 
# Prisma CLI читает DATABASE_URL как готовую строку и не подставляет ${...} внутри значения,
# из-за этого порт считался нечисловым и возникала ошибка P1013 (invalid port number).
# Рабочий вариант с явными значениями: мое  решение см выше либо кастомная функция для подстановки переменных окружения в DATABASE_URL, которая будет вызываться перед запуском Prisma CLI.
# DATABASE_URL="postgresql://root:123456@localhost:51214/nest_test_postgre_db?schema=public"


